pipeline/batch_load_Guild_Quality_APIresponse_toODS_BycreatedDate_Page_New_Survey.json
{
	"name": "batch_load_Guild_Quality_APIresponse_toODS_BycreatedDate_Page_New_Survey",
	"properties": {
		"activities": [
			{
				"name": "Copy GQ Surveys by CreatedAt",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": "Bearer Ale3uCQ4M77NgvhF"
						},
						"paginationRules": {
							"AbsoluteUrl": "$.links.next",
							"EndCondition:$.links.next": "Empty",
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['data']"
								},
								"sink": {
									"path": "$['data']"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "Prod_GQ_All_Surveys_Pagination_createdBy_New_Survey",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Prod_GQ_Survey_Json_CreatedAt_New_Survey",
						"type": "DatasetReference",
						"parameters": {
							"Date": "2025-10-07"
						}
					}
				]
			},
			{
				"name": "Installation Surveys",
				"type": "ExecuteDataFlow",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy GQ Surveys by CreatedAt",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy GQ Surveys  By_EndedAt",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.1:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_guild_quality_API_response_to_ODS_Installation_New_Survey",
						"type": "DataFlowReference",
						"datasetParameters": {
							"sourceJSON": {
								"Date": {
									"value": "2024-11-27",
									"type": "Expression"
								}
							}
						}
					},
					"staging": {
						"linkedService": {
							"referenceName": "renuitydatacore-WorkspaceDefaultStorage",
							"type": "LinkedServiceReference"
						},
						"folderPath": "rdctestanuj/AnandanTest/staging"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Copy GQ Surveys  By_EndedAt",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": "Bearer Ale3uCQ4M77NgvhF"
						},
						"paginationRules": {
							"AbsoluteUrl": "$.links.next",
							"EndCondition:$.links.next": "Empty",
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Prod_GQ_All_Surveys_Pagination_endedAt_New_Survey",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Prod_GQ_Survey_Json_Pagination_endedAt_New_Survey",
						"type": "DatasetReference",
						"parameters": {
							"Date": "2025-10-07"
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_Date",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcnow(),'UTC','Eastern Standard Time'),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Inhouse consultation surveys",
				"type": "ExecuteDataFlow",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Installation Surveys",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.1:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_guild_quality_API_response_to_ODS_Page_InHouse_New_Survey",
						"type": "DataFlowReference",
						"datasetParameters": {
							"sourceJSON": {
								"Date": {
									"value": "2024-11-27",
									"type": "Expression"
								}
							}
						},
						"linkedServiceParameters": {
							"sourceJSON": {
								"schemaLinkedService": {
									"Date": "2024-11-27"
								}
							}
						}
					},
					"staging": {
						"linkedService": {
							"referenceName": "renuitydatacore-WorkspaceDefaultStorage",
							"type": "LinkedServiceReference"
						},
						"folderPath": "rdctestanuj/AnandanTest/staging"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Installation Surveys by LastActivityAt",
				"type": "ExecuteDataFlow",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Inhouse consultation surveys",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.1:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_guild_quality_API_response_to_ODS_Page_Test_Installation_endedAt",
						"type": "DataFlowReference",
						"datasetParameters": {
							"sourceJSON": {
								"Date": {
									"value": "2024-12-09",
									"type": "Expression"
								}
							}
						}
					},
					"staging": {
						"linkedService": {
							"referenceName": "renuitydatacore-WorkspaceDefaultStorage",
							"type": "LinkedServiceReference"
						},
						"folderPath": "rdctestanuj/AnandanTest/staging"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Inhouse consultation by LastActivityAt",
				"type": "ExecuteDataFlow",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Installation Surveys by LastActivityAt",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.1:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_guild_quality_API_response_to_ODS_Page_Test_InHouse_endedAt",
						"type": "DataFlowReference",
						"datasetParameters": {
							"sourceJSON": {
								"Date": {
									"value": "2024-12-09",
									"type": "Expression"
								}
							}
						}
					},
					"staging": {
						"linkedService": {
							"referenceName": "renuitydatacore-WorkspaceDefaultStorage",
							"type": "LinkedServiceReference"
						},
						"folderPath": "rdctestanuj/AnandanTest/staging"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": "Bearer Ale3uCQ4M77NgvhF"
					},
					"url": "https://www.guildquality.com/company-api/v3/surveys/?questions=1&dateFilter=createdAt&since=2025-10-03&until=2025-10-07",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RawJsonString ",
					"value": {
						"value": "@string(activity('Web1').output.response)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"InsertDatefilter": {
				"type": "string",
				"defaultValue": "createdAt"
			},
			"UpsertDatefilter": {
				"type": "string",
				"defaultValue": "endedAt"
			}
		},
		"variables": {
			"v_Date": {
				"type": "String",
				"defaultValue": "2025-10-07"
			},
			"RawJsonString ": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Temp/Akshay"
		},
		"annotations": [],
		"lastPublishTime": "2025-10-07T13:20:33Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}