pipeline/batch_Load_EDW_FACT_MEDALLIA_CUSTOMER_SURVEY_Updated_old.json
{
	"name": "batch_Load_EDW_FACT_MEDALLIA_CUSTOMER_SURVEY_Updated_old",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "GuildQuality",
							"wildcardFileName": "Renuity_gq_survey_historical_responses_data_*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "SRC_GUILD_QUALITY_SURVEY_DATA",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup1').output.count,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Execute Pipeline ODS Medallia Survey_Flse",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "cpy_MEDALLIA_CUSTOMER_SURVEY_RESPONSE",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Execute Pipeline EDW FACT_MEDALLIA_SURVEY_RESPONSE_fls",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Execute Pipeline ODS Medallia Survey_Flse",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "cpy_EDW_FACT_MEDALLIA_CUSTOMER_SURVEY",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "cpy_MedaliaFiles_Archive_folder_fls",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Execute Pipeline EDW FACT_MEDALLIA_SURVEY_RESPONSE_fls",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.6:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"wildcardFileName": "Renuity_survey_daily_responses_data_*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SRC_MEDALLIA_SURVEY_DATA",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Medallia_File_move_Archive_folder",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Delete_original_file_fls",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "cpy_MedaliaFiles_Archive_folder_fls",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "SRC_MEDALLIA_SURVEY_DATA",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "renuitydatacore-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "affiliate-medallia/Logging"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFileName": "Renuity_survey_daily_responses_data_*.csv",
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "cpy_GuildQualityFiles_to_Archive_foldr",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.6:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"wildcardFolderPath": "GuildQuality",
										"wildcardFileName": "Renuity_gq_survey_*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SRC_GUILD_QUALITY_SURVEY_DATA",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "GuildQuality_File_Archive_folder",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Delete_original_file_GQ_guild",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "cpy_GuildQualityFiles_to_Archive_foldr",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "SRC_GUILD_QUALITY_SURVEY_DATA",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "renuitydatacore-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "affiliate-medallia/Logging"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFileName": "Renuity_gq_survey_*.csv",
									"enablePartitionDiscovery": false
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline ODS Medallia Survey",
							"type": "ExecutePipeline",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "cpy_MEDALLIA_CUSTOMER_SURVEY_RESPONSE",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Execute Pipeline EDW FACT_MEDALLIA_SURVEY_RESPONSE",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Execute Pipeline ODS Medallia Survey",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Execute Pipeline ODS Guild Quality Survey",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "cpy_EDW_FACT_MEDALLIA_CUSTOMER_SURVEY_Updated",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "cpy_MedaliaFiles_Archive_folder",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Execute Pipeline EDW FACT_MEDALLIA_SURVEY_RESPONSE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.6:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"wildcardFileName": "Renuity_survey_daily_responses_data_*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SRC_MEDALLIA_SURVEY_DATA",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Medallia_File_move_Archive_folder",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Delete_original_file",
							"type": "Delete",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "cpy_MedaliaFiles_Archive_folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "SRC_MEDALLIA_SURVEY_DATA",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "renuitydatacore-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "affiliate-medallia/Logging"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFileName": "Renuity_survey_daily_responses_data_*.csv",
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Execute Pipeline ODS Guild Quality Survey",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "cpy_GUILD_QUALITY_CUSTOMER_SURVEY_RESPONSE",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "cpy_GuildQualityFiles_to_Archive_folder",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Execute Pipeline EDW FACT_MEDALLIA_SURVEY_RESPONSE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.6:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"wildcardFolderPath": "GuildQuality",
										"wildcardFileName": "Renuity_gq_survey_*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SRC_GUILD_QUALITY_SURVEY_DATA",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "GuildQuality_File_Archive_folder",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Delete_original_file_GQ",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "cpy_GuildQualityFiles_to_Archive_folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "SRC_GUILD_QUALITY_SURVEY_DATA",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "renuitydatacore-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "affiliate-medallia/Logging"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFileName": "Renuity_gq_survey_*.csv",
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "ODS_to_EDW/FACTS/MEDALLIA"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-28T10:25:17Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}