pipeline/batch_onlinesharepointread.json
{
	"name": "batch_onlinesharepointread",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "https://accounts.accesscontrol.windows.net/701f7abf-167c-418b-babf-7c1b41cc06c8/tokens/OAuth/2",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": "grant_type=client_credentials&client_id=c5100e0b-63d3-45af-8939-f5e77fa6ffc6@701f7abf-167c-418b-babf-7c1b41cc06c8&client_secret=c1dab943-b4a4-46bd-9986-f1084f7cce52&resource=00000003-0000-0ff1-ce00-000000000000/Taxonomy.sharepoint.com@701f7abf-167c-418b-babf-7c1b41cc06c8"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat('Authorization: Bearer ', activity('Web1').output.access_token)}",
								"type": "Expression"
							},
							"requestTimeout": ""
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Test_HTTP",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TGT_TAXONOMY_MANUALINPUT",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "Temp/Anandan"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-04T12:13:17Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}