pipeline/batch_1andFund_Finance_TriggerJob_bkup.json
{
	"name": "batch_1andFund_Finance_TriggerJob_bkup",
	"properties": {
		"activities": [
			{
				"name": "GetBearerToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Var EndAt",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://auth.1andfund.com/oauth/token",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "@concat('{\n    \"client_id\":\"',pipeline().parameters.client_id,'\",\n    \"client_secret\":\"',pipeline().parameters.client_secret,'\",\n    \"audience\":\"',pipeline().parameters.audience,'\",\n    \"grant_type\":\"client_credentials\"\n}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TriggerExportJob",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ',activity('GetBearerToken').output.access_token)",
							"type": "Expression"
						},
						"X-1LOOK-SALES-REPRESENTATIVE": {
							"value": "@pipeline().parameters.Email",
							"type": "Expression"
						},
						"Accept": "*/*",
						"Accept-Language": "en-US",
						"Accept-Encoding": "gzip, deflate, br",
						"Connection": "keep-alive",
						"Origin": "https://renuity.1look.cloud",
						"Referer": "https://renuity.1look.cloud/",
						"DNT": "1"
					},
					"url": {
						"value": "@concat(pipeline().parameters.BaseURL,'/v4/job/export/',pipeline().parameters.ExportType)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "RDC-SelfHostedIntegrationRunTime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "@concat('{ \"start_at\":\"',\n        variables('StartAt') ,\n        '\", \"end_at\": \"',\n        variables('EndAt'),\n        '\", \"output_type\": \"CSV\" }'\n        )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Var StartAt",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartAt",
					"value": {
						"value": "@formatDateTime(adddays(utcNow(),-80), 'yyyy-MM-ddTHH:mm:ss.fffZ')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Var EndAt",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Var StartAt",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "EndAt",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:ss.fffZ')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "JobId to Raw tbl",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "TriggerExportJob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.2:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "RDC",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "StartAt",
									"type": "String",
									"value": {
										"value": "@variables('StartAt')",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "EndAt",
									"type": "String",
									"value": {
										"value": "@variables('EndAt')",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "JobId",
									"type": "String",
									"value": {
										"value": "@activity('TriggerExportJob').output.id",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "InsertedTS",
									"type": "Datetime",
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "ExportType",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.ExportType",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": {
								"value": "DECLARE @JobIdParam VARCHAR(50) = @JobId;\nDECLARE @StartAtParam VARCHAR(50) = @StartAt;\nDECLARE @EndAtParam VARCHAR(50) = @EndAt;\nDECLARE @InsertedTSParam DATETIME = @InsertedTS;\nDECLARE @Id Int = (Select Coalesce(Max(Id),0) +1 from ODS.FINANCE_API_RESPONSE_RAW );\nDECLARE @ExportTypeParam VARCHAR(50) = @ExportType;\n\n\nINSERT INTO ODS.FINANCE_API_RESPONSE_RAW\n    (Id, JobId, StartAt, EndAt, InsertedTS, ExportType)\nVALUES\n    (@Id, @JobIdParam, @StartAtParam, @EndAtParam, @InsertedTSParam, @ExportType);\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"client_id": {
				"type": "string",
				"defaultValue": "drb9gdBg7uEAMsUoISNppaHfZ5QMt5F7"
			},
			"client_secret": {
				"type": "string",
				"defaultValue": "tmKl9I-LRYVAmV11O5lEYWTTUqdFND76mIEiTr49HdlUmzfhkj-iM2CrkTcInld1"
			},
			"audience": {
				"type": "string",
				"defaultValue": "https://staging.1andfund.com/"
			},
			"BaseURL": {
				"type": "string",
				"defaultValue": "https://staging.1andfund.com/api"
			},
			"Email": {
				"type": "string",
				"defaultValue": "amohammed@renuityhome.com"
			},
			"ExportType": {
				"type": "string",
				"defaultValue": "transactions"
			}
		},
		"variables": {
			"StartAt": {
				"type": "String"
			},
			"EndAt": {
				"type": "String"
			}
		},
		"folder": {
			"name": "1andFund to EDW/Bkup"
		},
		"annotations": [],
		"lastPublishTime": "2026-02-03T10:23:06Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}