pipeline/Fact_Jobs_Archive.json
{
	"name": "Fact_Jobs_Archive",
	"properties": {
		"activities": [
			{
				"name": "Copy Fact Data to physical table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DELETE RECORD ALREADY EXISTS FACT_JOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "/****** Script for SelectTopNRows command from SSMS  ******/\r\nSELECT getdate() as insertedated \r\n\t  ,[JobID]\r\n      ,[LeadID]\r\n      ,[CustomerID]\r\n      ,[IssuedLeadID]\r\n      ,[ProductID]\r\n      ,[JobStatusID]\r\n      ,[ProductionBranchID]\r\n      ,[FinanceSourceID]\r\n      ,[FinanceCompanyID]\r\n      ,[VendorID]\r\n      ,[InstallerID_1]\r\n      ,[InstallerID_2]\r\n      ,[InstallerID_3]\r\n      ,[InstallerID_4]\r\n      ,[SalesRep1_EmployeeID]\r\n      ,[PaperworkStatusID]\r\n      ,[HoldReasonID]\r\n      ,[ContractID]\r\n      ,[Commission]\r\n      ,[SalesRepSplit]\r\n      ,[LastModifiedOn]\r\n      ,[MeasuredBy]\r\n      ,[ContractDate]\r\n      ,[CancelDate]\r\n      ,[HoldDate]\r\n      ,[StatusDate]\r\n      ,[GrossAmount]\r\n      ,[BudgetCost]\r\n      ,[JobNetAmt]\r\n      ,[ActualCost]\r\n      ,[FundedDate]\r\n      ,[FundedAmount]\r\n      ,[ParAmount]\r\n      ,[FinanceAmount]\r\n      ,[FinanceMonths]\r\n      ,[FinanceApproved]\r\n      ,[FinanceRate]\r\n      ,[FinanceExpire]\r\n      ,[FinanceFee]\r\n      ,[TotalUnits]\r\n      ,[Purchaser]\r\n      ,[ARIssue]\r\n      ,[FinanceHomeValue]\r\n      ,[LP_JobID]\r\n      ,[LP_LeadID]\r\n      ,[LP_CustomerID]\r\n      ,[LP_IssuedLeadID]\r\n      ,[LP_ProductID]\r\n      ,[LP_JobStatusID]\r\n      ,[LP_ProductionBranchID]\r\n      ,[LP_FinanceSourceID]\r\n      ,[LP_FinanceCompanyID]\r\n      ,[LP_VendorID]\r\n      ,[LP_InstallerID_1]\r\n      ,[LP_InstallerID_2]\r\n      ,[LP_InstallerID_3]\r\n      ,[LP_InstallerID_4]\r\n      ,[LP_SalesRep1_EmployeeID]\r\n      ,[LP_SalesRep2_EmployeeID]\r\n      ,[LP_PaperworkStatusID]\r\n      ,[LP_HoldReasonID]\r\n      ,[Division]\r\n      ,[LastUpdateTS]\r\n      ,[FieldSupervisorName]\r\n      ,[EngineerID]\r\n      ,'9999-12-31' as RevenueDate\r\n  FROM [EDW].[FACT_JOB]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "insertedated",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "InsertedDated",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "JobID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "JobID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LeadID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LeadID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IssuedLeadID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "IssuedLeadID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ProductID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProductID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "JobStatusID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "JobStatusID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ProductionBranchID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProductionBranchID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FinanceSourceID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FinanceSourceID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FinanceCompanyID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FinanceCompanyID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VendorID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VendorID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "InstallerID_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "InstallerID_1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "InstallerID_2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "InstallerID_2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "InstallerID_3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "InstallerID_3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "InstallerID_4",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "InstallerID_4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SalesRep1_EmployeeID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SalesRep1_EmployeeID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PaperworkStatusID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PaperworkStatusID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "HoldReasonID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "HoldReasonID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ContractID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ContractID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Commission",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "Commission",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "SalesRepSplit",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "SalesRepSplit",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "LastModifiedOn",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "LastModifiedOn",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "MeasuredBy",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MeasuredBy",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ContractDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "ContractDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CancelDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "CancelDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "HoldDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "HoldDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "StatusDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "StatusDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "GrossAmount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "GrossAmount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "BudgetCost",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "BudgetCost",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "JobNetAmt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "JobNetAmt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ActualCost",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ActualCost",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "FundedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "FundedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "FundedAmount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FundedAmount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ParAmount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ParAmount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "FinanceAmount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinanceAmount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "FinanceMonths",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FinanceMonths",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FinanceApproved",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "FinanceApproved",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "FinanceRate",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "FinanceRate",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FinanceExpire",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "FinanceExpire",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "FinanceFee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinanceFee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "TotalUnits",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TotalUnits",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Purchaser",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Purchaser",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ARIssue",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ARIssue",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FinanceHomeValue",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinanceHomeValue",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "LP_JobID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_JobID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LP_LeadID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_LeadID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LP_CustomerID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_CustomerID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LP_IssuedLeadID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_IssuedLeadID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LP_ProductID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LP_ProductID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LP_JobStatusID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LP_JobStatusID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LP_ProductionBranchID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LP_ProductionBranchID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LP_FinanceSourceID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LP_FinanceSourceID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LP_FinanceCompanyID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_FinanceCompanyID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LP_VendorID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_VendorID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LP_InstallerID_1",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_InstallerID_1",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LP_InstallerID_2",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_InstallerID_2",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LP_InstallerID_3",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_InstallerID_3",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LP_InstallerID_4",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_InstallerID_4",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LP_SalesRep1_EmployeeID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_SalesRep1_EmployeeID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LP_SalesRep2_EmployeeID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_SalesRep2_EmployeeID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LP_PaperworkStatusID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LP_PaperworkStatusID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LP_HoldReasonID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LP_HoldReasonID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Division",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Division",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LastUpdateTS",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "LastUpdateTS",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "FieldSupervisorName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FieldSupervisorName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EngineerID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "EngineerID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RevenueDate",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RevenueDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_Fact_Jobs_Archive_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_Fact_Jobs_Archive_Sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy fact Jobs data to Parquet file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select getdate() as insertedated,* from [EDW].[FACT_JOB]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "insertedated",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "insertedated",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "JobID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "JobID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LeadID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LeadID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "IssuedLeadID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "IssuedLeadID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ProductID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProductID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "JobStatusID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "JobStatusID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ProductionBranchID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProductionBranchID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FinanceSourceID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FinanceSourceID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FinanceCompanyID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FinanceCompanyID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "VendorID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VendorID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "InstallerID_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "InstallerID_1",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "InstallerID_2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "InstallerID_2",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "InstallerID_3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "InstallerID_3",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "InstallerID_4",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "InstallerID_4",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SalesRep1_EmployeeID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SalesRep1_EmployeeID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PaperworkStatusID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PaperworkStatusID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "HoldReasonID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "HoldReasonID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ContractID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ContractID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Commission",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "Commission",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "SalesRepSplit",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "SalesRepSplit",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "LastModifiedOn",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "LastModifiedOn",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "MeasuredBy",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MeasuredBy",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ContractDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "ContractDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "CancelDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "CancelDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "HoldDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "HoldDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "StatusDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "StatusDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "GrossAmount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "GrossAmount",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "BudgetCost",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "BudgetCost",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "JobNetAmt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "JobNetAmt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "ActualCost",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ActualCost",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "FundedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "FundedDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "FundedAmount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FundedAmount",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "ParAmount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ParAmount",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "FinanceAmount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinanceAmount",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "FinanceMonths",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FinanceMonths",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "FinanceApproved",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "FinanceApproved",
									"type": "Boolean",
									"physicalType": "BOOLEAN"
								}
							},
							{
								"source": {
									"name": "FinanceRate",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "FinanceRate",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "FinanceExpire",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "FinanceExpire",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "FinanceFee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinanceFee",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "TotalUnits",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TotalUnits",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "Purchaser",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Purchaser",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ARIssue",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ARIssue",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FinanceHomeValue",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinanceHomeValue",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "LP_JobID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_JobID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "LP_LeadID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_LeadID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "LP_CustomerID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_CustomerID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "LP_IssuedLeadID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_IssuedLeadID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "LP_ProductID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LP_ProductID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LP_JobStatusID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LP_JobStatusID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LP_ProductionBranchID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LP_ProductionBranchID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LP_FinanceSourceID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LP_FinanceSourceID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LP_FinanceCompanyID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_FinanceCompanyID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "LP_VendorID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_VendorID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "LP_InstallerID_1",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_InstallerID_1",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "LP_InstallerID_2",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_InstallerID_2",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "LP_InstallerID_3",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_InstallerID_3",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "LP_InstallerID_4",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_InstallerID_4",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "LP_SalesRep1_EmployeeID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_SalesRep1_EmployeeID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "LP_SalesRep2_EmployeeID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_SalesRep2_EmployeeID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "LP_PaperworkStatusID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LP_PaperworkStatusID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LP_HoldReasonID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LP_HoldReasonID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Division",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Division",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LastUpdateTS",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "LastUpdateTS",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "FieldSupervisorName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FieldSupervisorName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "EngineerID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "EngineerID",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_Fact_Jobs_Archive_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_Fact_Jobs_Archive_Parquet_Sink",
						"type": "DatasetReference",
						"parameters": {
							"Date": {
								"value": "@variables('Date')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Date",
					"value": {
						"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Merge_All_Fact_Parquet_files_Into_One",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy fact Jobs data to Parquet file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "test/Fact_Jobs_Archive",
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Fact_Archive_Parquet_Source_for_Merging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_Fact_Jobs_Archive_Merged_File",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Fact MileStone Data to physical table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DELETE RECORD ALREADY EXISTS MILESTONE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select getdate() as insertedated,* from EDW.FACT_MILESTONE_DETAIL",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"allowCopyCommand": true
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "sameen"
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_FACT_MILESTONE_DETAIL_Archive_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_FACT_MILESTONE_DETAIL_Archive_Sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Milestone Jobs data to Parquet file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select getdate() as insertedated,* from EDW.FACT_MILESTONE_DETAIL",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "insertedated",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "insertedated",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "MilestoneDetailID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MilestoneDetailID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MilestoneDateTypeID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MilestoneDateTypeID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "JobID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "JobID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "EstimatedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "EstimatedDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ActualDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "ActualDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ActualTime",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ActualTime",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "EnteredOn",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "EnteredOn",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "LastChangedOn",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "LastChangedOn",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "LP_MilestoneDetailID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_MilestoneDetailID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "LP_MilestoneDateTypeID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LP_MilestoneDateTypeID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LP_JobID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LP_JobID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "Division",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Division",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LastUpdateTS",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "LastUpdateTS",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_FACT_MILESTONE_DETAIL_Archive_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_FACT_MILESTONE_DETAIL_Archive_Parquet_Sink",
						"type": "DatasetReference",
						"parameters": {
							"Date": {
								"value": "@variables('Date')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Merge_All_Fact_Milestone_Parquet_files_Into_One_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Milestone Jobs data to Parquet file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "test/FACT_MILESTONE_DETAIL_Archive",
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_FACT_MILESTONE_DETAIL_Archive_Parquet_Source_for_Merging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_FACT_MILESTONE_DETAIL_Archive_Merged_File",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DELETE RECORD ALREADY EXISTS FACT_JOB",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "RDC",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "declare @insertedDated varchar(10)\nset @insertedDated= format(getdate(),'yyyy-MM-dd')\n\n\ndelete from Archive.FACT_JOB_Archive\n\nwhere cast(insertedDated as date)=@insertedDated"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "DELETE RECORD ALREADY EXISTS MILESTONE",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "RDC",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "declare @insertedDated varchar(10)\nset @insertedDated= format(getdate(),'yyyy-MM-dd')\n\n\ndelete from Archive.FACT_MILESTONE_DETAIL_Archive\n\nwhere cast(insertedated as date)=@insertedDated"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Update FACT_JOB_ARCHIVE",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy Fact Data to physical table",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy Fact MileStone Data to physical table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "RDC",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "UPDATE J\nSET J.REVENUEDATE=M.ACTUALDATE\nFROM ARCHIVE.FACT_JOB_ARCHIVE J\nLEFT JOIN\n(SELECT JOBID,INSERTEDATED,MILESTONEDATETYPEID,CAST(ACTUALDATE AS DATE) AS ACTUALDATE FROM ARCHIVE.FACT_MILESTONE_DETAIL_ARCHIVE) M\nON J.JOBID=M.JOBID \nAND YEAR(CAST(J.INSERTEDDATED AS DATE))=YEAR(CAST(M.INSERTEDATED AS DATE)) \nAND MONTH(CAST(J.INSERTEDDATED AS DATE))=MONTH(CAST(M.INSERTEDATED AS DATE))\nAND M.MILESTONEDATETYPEID IN ('SWR-C','CTA-C','HSI-C','PBC-C','RTW-C','FHI-C','MAC-S','MXH-C','PHI-C')\nWHERE YEAR(CAST(J.INSERTEDDATED AS DATE)) = YEAR(CAST(GETDATE() AS DATE))\nAND MONTH(CAST(J.INSERTEDDATED AS DATE)) = MONTH(CAST(GETDATE() AS DATE))\nAND M.ACTUALDATE IS NOT NULL;"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Temp/Sameen"
		},
		"annotations": [],
		"lastPublishTime": "2025-01-03T16:26:42Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}