pipeline/guild_new_template_UpdatedAt_LastActivityAt.json
{
	"name": "guild_new_template_UpdatedAt_LastActivityAt",
	"properties": {
		"activities": [
			{
				"name": "SetDatVariable",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileTimeStamp",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcnow(),'UTC','Eastern Standard Time'),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Cp_GQ_Survey_Updated_Date",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetDatVariable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": "Bearer Ale3uCQ4M77NgvhF"
						},
						"paginationRules": {
							"AbsoluteUrl": "$.links.next",
							"EndCondition:$.links.next": "Empty",
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Prod_GQ_All_Surveys_UpdatedAt_New_Template",
						"type": "DatasetReference",
						"parameters": {
							"Date": {
								"value": "@variables('FileTimeStamp')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Prod_GQ_Survey_Json_UpdatedAt_New_Survey",
						"type": "DatasetReference",
						"parameters": {
							"Date": {
								"value": "@variables('FileTimeStamp')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Cp_GQ_Survey_LastActivity_Date",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetDatVariable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": "Bearer Ale3uCQ4M77NgvhF"
						},
						"paginationRules": {
							"AbsoluteUrl": "$.links.next",
							"EndCondition:$.links.next": "Empty",
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Prod_GQ_All_Surveys_LastactivityAt_New_Template",
						"type": "DatasetReference",
						"parameters": {
							"Date": {
								"value": "@variables('FileTimeStamp')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Prod_GQ_Survey_Json_LastActivityAt_New_Survey",
						"type": "DatasetReference",
						"parameters": {
							"Date": {
								"value": "@variables('FileTimeStamp')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "DNS_Surveys_By_UpdatedAt",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Installation_Surveys_By_UpdatedAt",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_guild_quality_API_Response_to_ODS_DNS_UpdatedAt_New_Template",
						"type": "DataFlowReference",
						"datasetParameters": {
							"sourceJson": {
								"Date": {
									"value": "@variables('FileTimeStamp')",
									"type": "Expression"
								}
							}
						}
					},
					"staging": {
						"linkedService": {
							"referenceName": "renuitydatacore-WorkspaceDefaultStorage",
							"type": "LinkedServiceReference"
						},
						"folderPath": "rdctestanuj/AkshayTest/rejectedrows"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Installation_Surveys_By_UpdatedAt",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Cp_GQ_Survey_Updated_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Cp_GQ_Survey_LastActivity_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_guild_quality_API_Response_to_ODS_Installation_UpdatedAt_New_Template",
						"type": "DataFlowReference",
						"datasetParameters": {
							"sourceJson": {
								"Date": {
									"value": "@variables('FileTimeStamp')",
									"type": "Expression"
								}
							}
						}
					},
					"staging": {
						"linkedService": {
							"referenceName": "renuitydatacore-WorkspaceDefaultStorage",
							"type": "LinkedServiceReference"
						},
						"folderPath": "rdctestanuj/AkshayTest/rejectedrows"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Installation_Surveys_By_LastActivityAt",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "DNS_Surveys_By_UpdatedAt",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_guild_quality_API_Response_to_ODS_Installation_By_LastActivityAt_New_Template",
						"type": "DataFlowReference",
						"datasetParameters": {
							"sourceJson": {
								"Date": {
									"value": "@variables('FileTimeStamp')",
									"type": "Expression"
								}
							}
						}
					},
					"staging": {
						"linkedService": {
							"referenceName": "renuitydatacore-WorkspaceDefaultStorage",
							"type": "LinkedServiceReference"
						},
						"folderPath": "rdctestanuj/AkshayTest/rejectedrows"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "DNS_Surveys_By_LastActivityAt",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Installation_Surveys_By_LastActivityAt",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_guild_quality_API_Response_to_ODS_DNS_LastActivityAt_New_Template",
						"type": "DataFlowReference",
						"datasetParameters": {
							"sourceJson": {
								"Date": {
									"value": "@variables('FileTimeStamp')",
									"type": "Expression"
								}
							}
						}
					},
					"staging": {
						"linkedService": {
							"referenceName": "renuitydatacore-WorkspaceDefaultStorage",
							"type": "LinkedServiceReference"
						},
						"folderPath": "rdctestanuj/AkshayTest/rejectedrows"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"NextPageUrl": {
				"type": "String"
			},
			"AllRecordsArray": {
				"type": "Array"
			},
			"FileTimeStamp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ODS_to_EDW/FACTS/GuildQuality/New Template"
		},
		"annotations": [],
		"lastPublishTime": "2025-10-22T16:29:43Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}