pipeline/Lenders_Fico.json
{
	"name": "Lenders_Fico",
	"properties": {
		"activities": [
			{
				"name": "Convert_Excel_to_CSV",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "foundation_src",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "@pipeline().parameters.FileName"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "foundation_csv",
						"type": "DatasetReference",
						"parameters": {
							"LenderName": {
								"value": "@pipeline().parameters.LenderName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Convert_Excel_to_CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.LenderName",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Foundation",
							"activities": [
								{
									"name": "Data_Foundation",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_Foundation_Transformation",
											"type": "DataFlowReference"
										},
										"staging": {
											"linkedService": {
												"referenceName": "renuitydatacore-WorkspaceDefaultStorage",
												"type": "LinkedServiceReference"
											},
											"folderPath": "rdcdatalake/staging"
										},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Coarse"
									}
								}
							]
						},
						{
							"value": "Acqua",
							"activities": [
								{
									"name": "Prepare_Division_Wise_Data 1",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Set Week variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_Aqua_Transformation_1",
											"type": "DataFlowReference",
											"parameters": {
												"Week": {
													"value": "'@{variables('Week')}'",
													"type": "Expression"
												}
											}
										},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "Prepare_Division_Wise_Data 2",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Prepare_Division_Wise_Data 1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_Aqua_Transformation_2",
											"type": "DataFlowReference",
											"parameters": {
												"Week": {
													"value": "'@{variables('Week')}'",
													"type": "Expression"
												}
											}
										},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Coarse"
									}
								},
								{
									"name": "Set Week variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "LookUp_File_For_Week",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Week",
										"value": {
											"value": "@activity('LookUp_File_For_Week').output.firstRow.Prop_0",
											"type": "Expression"
										}
									}
								},
								{
									"name": "LookUp_File_For_Week",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"dataset": {
											"referenceName": "df_acqua_raw",
											"type": "DatasetReference"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "From_ODS_to_EDW",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Delete1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT CASE \n            WHEN [Division_Name] LIKE '%Pacific Bath%' THEN 'West Division'\n            WHEN [Division_Name] LIKE '%Florida Home%' THEN 'East Florida'\n            WHEN [Division_Name] LIKE '%Max Home%'     THEN 'East Gulf'\n            ELSE [Division_Name] END AS [Division_Name]\n      ,[Week]\n      ,[Lender]\n      ,[FICO_Band]\n      ,[Aprvd]\n      ,[Denied]\n      ,[Total]\n      ,[Approval%]\n      ,[Contracted]\n      ,[Contracted_Approved]\n      ,[Apvd_Amount]\n      ,[Denied_Amount]\n      ,[Total_Amount]\n      ,[Approval_%]\n      ,getdate() as DateInserted\n      ,current_timestamp as LastUpdateTS\n  FROM [ODS].[acqua_ficoBand]\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Upsert",
						"upsertSettings": {
							"keys": [
								"Lender",
								"Division_Name",
								"Week",
								"FICO_Band"
							],
							"interimSchemaName": ""
						},
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Division_Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Division_Name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Week",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Week",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FICO_Band",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FICO_Band",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Aprvd",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Aprvd",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Denied",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Denied",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Total",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Total",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Approval%",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 5
								},
								"sink": {
									"name": "Approval%",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 5
								}
							},
							{
								"source": {
									"name": "Contracted",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Contracted",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Contracted_Approved",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 5
								},
								"sink": {
									"name": "Contracted_Approved",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 5
								}
							},
							{
								"source": {
									"name": "Apvd_Amount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "Apvd_Amount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "Denied_Amount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "Denied_Amount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "Total_Amount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "Total_Amount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "Approval_%",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 5
								},
								"sink": {
									"name": "Approval_%",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 5
								}
							},
							{
								"source": {
									"name": "DateInserted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DateInserted",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Lender",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Lender",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "fico_foundation_ods",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Lender_EDW_Fact_Table",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Move File to Out Folder",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Switch1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "File_move_To_out",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "lender_files_out_sink",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Move File to Out Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "File_move_To_out",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string"
			},
			"LenderName": {
				"type": "string"
			}
		},
		"variables": {
			"Month": {
				"type": "String"
			},
			"Week": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SRC_to_ODS/AquaFico"
		},
		"annotations": [],
		"lastPublishTime": "2026-01-13T09:56:34Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}