pipeline/LP_Job_Jobs_Archive.json
{
	"name": "LP_Job_Jobs_Archive",
	"properties": {
		"activities": [
			{
				"name": "Copy Data to physical table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "division",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "division",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "InsertedDated",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "InsertedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "lds_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "lds_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "cst_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "cst_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ils_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ils_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "contractid",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "contractid",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "productid",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "productid",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "GrossAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "GrossAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "jbs_id",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "jbs_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "brp_id",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "brp_id",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "pds_id",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "pds_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "cmt_id",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "cmt_id",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "Commission",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "Commission",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ins_installer1",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ins_installer1",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ins_installer2",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ins_installer2",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "measuredby",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "measuredby",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ContractDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ContractDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CancelDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CancelDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "HoldDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "HoldDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "hld_id",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "hld_id",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "mls_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "mls_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "slr_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "slr_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "slr_id2",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "slr_id2",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "slr_split",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "slr_split",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "fns_id",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "fns_id",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "fns_id2",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "fns_id2",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "fns_id3",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "fns_id3",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "ProductID2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ProductID2",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ProductID3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ProductID3",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ProductID4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ProductID4",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "pws_id",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "pws_id",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "vnd_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "vnd_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "vnd_id2",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "vnd_id2",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "vnd_id3",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "vnd_id3",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "vnd_id4",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "vnd_id4",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "GrossBatched",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "GrossBatched",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "BatchFlag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "BatchFlag",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "GrossBatched2",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "GrossBatched2",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "BatchFlag2",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "BatchFlag2",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "StatusDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "StatusDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "BudgetCost",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "BudgetCost",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ActualCost",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ActualCost",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "FundedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "FundedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "FundedAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FundedAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ParAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ParAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "FinCo_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FinCo_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FinAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "FinMonths",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FinMonths",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FinCrLimit",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinCrLimit",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "FinPlan_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FinPlan_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FinApproved",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "FinApproved",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "FinRate",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "FinRate",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FinTerms",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FinTerms",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FinExpire",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "FinExpire",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "FinFee",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinFee",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "FinHomeValue",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinHomeValue",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "FinParty1Employer",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FinParty1Employer",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FinParty1Income",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinParty1Income",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "FinParty1CreditScore",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FinParty1CreditScore",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FinParty1Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FinParty1Name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FinParty1EmpPhone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FinParty1EmpPhone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FinParty2Employer",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FinParty2Employer",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FinParty2Income",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinParty2Income",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "FinParty2CreditScore",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FinParty2CreditScore",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FinParty2Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FinParty2Name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FinParty2EmpPhone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FinParty2EmpPhone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FinDtApproved",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "FinDtApproved",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "job_user_1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "job_user_1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "job_user_2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "job_user_2",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "job_user_3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "job_user_3",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "job_user_4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "job_user_4",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "job_user_5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "job_user_5",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "job_user_6",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "job_user_6",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "job_user_7",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "job_user_7",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "job_user_8",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "job_user_8",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "job_user_9",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "job_user_9",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "job_user_10",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "job_user_10",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "job_user_11",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "job_user_11",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "job_user_12",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "job_user_12",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "job_user_13",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "job_user_13",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "job_user_14",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "job_user_14",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "job_user_15",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "job_user_15",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "job_user_16",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "job_user_16",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "job_user_17",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "job_user_17",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "job_user_18",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "job_user_18",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "job_user_19",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "job_user_19",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "job_user_20",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "job_user_20",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LastModifiedBy",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LastModifiedBy",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LastModifiedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LastModifiedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "USN",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "USN",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "JobNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "JobNotes",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FinNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FinNotes",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "QBJobRefID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "QBJobRefID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "QBJobDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "QBJobDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "QBJobBalance",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "QBJobBalance",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ins_installer3",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ins_installer3",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ins_installer4",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ins_installer4",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "JobNetAmt",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "JobNetAmt",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "resource1",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "resource1",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "resource2",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "resource2",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "resource3",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "resource3",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "resource4",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "resource4",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "resource5",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "resource5",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "resource6",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "resource6",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "resource7",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "resource7",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "resource8",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "resource8",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_LP_Job_Jobs_Archive_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "LP_job_Jobs_Archive_Sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy lp Jobs data to Parquet file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "division",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "division",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "InsertedDated",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "InsertedDated",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "lds_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "lds_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "cst_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "cst_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ils_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ils_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "contractid",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "contractid",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "productid",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "productid",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "GrossAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "GrossAmount",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "jbs_id",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "jbs_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "brp_id",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "brp_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "pds_id",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "pds_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "cmt_id",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "cmt_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Commission",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "Commission",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "ins_installer1",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ins_installer1",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ins_installer2",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ins_installer2",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "measuredby",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "measuredby",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ContractDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ContractDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "CancelDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CancelDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "HoldDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "HoldDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "hld_id",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "hld_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "mls_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "mls_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "slr_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "slr_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "slr_id2",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "slr_id2",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "slr_split",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "slr_split",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "fns_id",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "fns_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "fns_id2",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "fns_id2",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "fns_id3",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "fns_id3",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ProductID2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ProductID2",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ProductID3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ProductID3",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ProductID4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ProductID4",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "pws_id",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "pws_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "vnd_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "vnd_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "vnd_id2",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "vnd_id2",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "vnd_id3",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "vnd_id3",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "vnd_id4",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "vnd_id4",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "GrossBatched",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "GrossBatched",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "BatchFlag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "BatchFlag",
									"type": "Boolean",
									"physicalType": "BOOLEAN"
								}
							},
							{
								"source": {
									"name": "GrossBatched2",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "GrossBatched2",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "BatchFlag2",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "BatchFlag2",
									"type": "Boolean",
									"physicalType": "BOOLEAN"
								}
							},
							{
								"source": {
									"name": "StatusDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "StatusDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "BudgetCost",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "BudgetCost",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "ActualCost",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ActualCost",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "FundedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "FundedDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "FundedAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FundedAmount",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "ParAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ParAmount",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "FinCo_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FinCo_ID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "FinAmount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinAmount",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "FinMonths",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FinMonths",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "FinCrLimit",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinCrLimit",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "FinPlan_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FinPlan_ID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "FinApproved",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "FinApproved",
									"type": "Boolean",
									"physicalType": "BOOLEAN"
								}
							},
							{
								"source": {
									"name": "FinRate",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "FinRate",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "FinTerms",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FinTerms",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FinExpire",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "FinExpire",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "FinFee",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinFee",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "FinHomeValue",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinHomeValue",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "FinParty1Employer",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FinParty1Employer",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FinParty1Income",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinParty1Income",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "FinParty1CreditScore",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FinParty1CreditScore",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "FinParty1Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FinParty1Name",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FinParty1EmpPhone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FinParty1EmpPhone",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FinParty2Employer",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FinParty2Employer",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FinParty2Income",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "FinParty2Income",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "FinParty2CreditScore",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FinParty2CreditScore",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "FinParty2Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FinParty2Name",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FinParty2EmpPhone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FinParty2EmpPhone",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FinDtApproved",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "FinDtApproved",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "job_user_1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "job_user_1",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "job_user_2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "job_user_2",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "job_user_3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "job_user_3",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "job_user_4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "job_user_4",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "job_user_5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "job_user_5",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "job_user_6",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "job_user_6",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "job_user_7",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "job_user_7",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "job_user_8",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "job_user_8",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "job_user_9",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "job_user_9",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "job_user_10",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "job_user_10",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "job_user_11",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "job_user_11",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "job_user_12",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "job_user_12",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "job_user_13",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "job_user_13",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "job_user_14",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "job_user_14",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "job_user_15",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "job_user_15",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "job_user_16",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "job_user_16",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "job_user_17",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "job_user_17",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "job_user_18",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "job_user_18",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "job_user_19",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "job_user_19",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "job_user_20",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "job_user_20",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "LastModifiedBy",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LastModifiedBy",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "LastModifiedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LastModifiedOn",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "USN",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "USN",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "JobNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "JobNotes",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FinNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FinNotes",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "QBJobRefID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "QBJobRefID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "QBJobDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "QBJobDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "QBJobBalance",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "QBJobBalance",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "ins_installer3",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ins_installer3",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ins_installer4",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ins_installer4",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "JobNetAmt",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "JobNetAmt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "resource1",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "resource1",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "resource2",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "resource2",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "resource3",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "resource3",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "resource4",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "resource4",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "resource5",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "resource5",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "resource6",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "resource6",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "resource7",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "resource7",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "resource8",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "resource8",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_LP_Job_Jobs_Archive_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_Lp_Job_Jobs_Parquet_Sink",
						"type": "DatasetReference",
						"parameters": {
							"Date": {
								"value": "@variables('Date')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Date",
					"value": {
						"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Merge_All_Parquet_files_Into_One",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy lp Jobs data to Parquet file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "test/LP_Jobs_Archives_Files",
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "LP_Parquet_Source_for_Merging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "LP_Jobs_Merged_File",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Temp/Sameen"
		},
		"annotations": [],
		"lastPublishTime": "2024-09-10T15:56:18Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}