pipeline/medallia_guild_quality_archive_status.json
{
	"name": "medallia_guild_quality_archive_status",
	"properties": {
		"activities": [
			{
				"name": "Get Guild Quality Archive Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "MEDALLIA_ARCHIVE_GUILD_QUALITY",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Guild Quality Archive Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Guild Quality Archive Metadata').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Guild Quality Failure",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "New Files are not loaded in Guild Quality and its Archive folder",
								"errorCode": "404"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Variable for Guild Quality Archive",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "medallia_guild_quality_archive_exists",
								"value": "true"
							}
						}
					]
				}
			}
		],
		"variables": {
			"medallia_guild_quality_archive_exists": {
				"type": "Array"
			},
			"medallia_guild_quality_files_exists": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Temp/Sameen"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-17T15:58:42Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}